@import "../../styles/mixin";

.input {
  width: 100%;
  padding: 18px 26px;
  border: 1px solid #DADADA;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s;
  background-color: #F9F9F9;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-weight: 500; /* Medium */
  line-height: 26px;
  height: 62px;

  @include respond-to(mobile) {
      padding: 18px 14px;
    }

  .input::placeholder {
    font-family: var(--font-montserrat);
    font-weight: 500; /* Medium */
    font-size: 16px;
    line-height: 26px;
    color: var(--black);
  }
}

.textarea {
  min-height: 174px;
  resize: vertical;

  &::placeholder {
    font-family: var(--font-montserrat);
    font-weight: 500; /* Medium */
    font-size: 16px;
    line-height: 26px;
    color: var(--black);
    opacity: 0.7;
  }
}

.error {
  border: 1px solid var(--errorBorder);
}

.errorText {
  display: flex;
  align-items: center;
  color: var(--error);
  font-size: 16px;

  svg {
    margin-right: 10px;
  }
}
