@import "../../styles/mixin";

.container {
  position: relative;
  display: flex;
  padding: 40px 20px 60px;
  box-sizing: border-box;
  scroll-padding-top: 40px;
  flex-direction: column;

  @include respond-to(desktop) {
    flex-direction: row;
    padding: 90px 60px 60px 60px;
  }

  @include respond-to(mobile) {
    flex-direction: column;
    padding: 40px 16px;
    gap: 40px;
  }

  .wrapper {
    flex-direction: column;
    justify-content: space-between;
    display: flex;

    @include respond-to(desktop) {
      width: 62.5%;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 40px;

      @include respond-to(mobile) {
      margin-bottom: 16px;
      }
    }

    .image {
      position: relative;
      background: url('/assets/banner.png') no-repeat;
      background-size: cover;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 69px 63px;
      color: white;
      text-align: center;
      margin-top: 40px;
      height: 383px;
      box-sizing: border-box;

      @include respond-to(mobile) {
        padding: 30px 16px;
        height: 240px;
        margin-top: 24px;
      }

      .logo {
        width: 142px;
        height: 27px;
        margin-bottom: 30px;
      }

      h1 {
        margin: 0;

        @include respond-to(tablet) {
          font-family: var(--font-manrope);
          font-weight: 700; /* Bold */
          font-size: 46px;
          line-height: 68px;
        }
      }

      h3 {
        margin-top: 12px;
        margin-bottom: 0;
        text-align: left;

        @include respond-to(tablet) {
          font-weight: 700; /* Bold */
          font-size: 20px;
          line-height: 38px;
        }
      }
    }
  }

  .requestForm {
    margin-top: 60px;

    @include respond-to(desktop) {
      width: 37.5%;
      margin-left: 94px;
      margin-top: 0;
    }

    @include respond-to(mobile) {
      padding: 0;
      margin-top: 0;
      border: 1px solid #eee;
      border-radius: 16px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
      background-color: white;
    }
  }
}
