.container {
  overflow: hidden;
  width: 100%;
  height: 100dvh;
  position: relative;

  .sliderTrack {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;

    .slideMobile {
      position: relative;
      width: 100%;
      box-sizing: border-box;
    }
  }
}